- from ||= nil
.interview-item
  .interview-header
    = image_tag interview.image_thumbnail.md.url, class: 'img-responsive'
    .interview-header--label
      .interview-header--label__name
        = interview.name
      - if interview.organization.present?
        .interview-header--label__organization
          = interview.organization
  %h3.mg-md.interview-summary
    = simple_format interview.summary
  - if interview.proposals.any? && from != 'interview_show'
    = link_to interview_path(interview, anchor: 'anchor-proposals') do
      .interview-proposals
        %p.interview-proposals--header
          제안
          .interview-proposals--contents
            - interview.proposals.each do |proposal|
              .interview-proposal
                = proposal.title
