/ Main container
.page-container
  / bloc-16
  #bloc-16.bloc.lake-hero-bloc.bgc-onyx.d-bloc{:class => "bg-gradation-background"}
    = render 'application/header'
    .container
      .row
        .col-sm-12.interview-header
          %h3.mg-md.tc-safety-orange-blaze-orange
            인터뷰
          %p
            사회 혁신의 맨 앞이기에 누구보다 먼저 겪는 어려움.
            %br>/
            어떻게 해결할 수 있을까요?
            %br/
    .container.fill-bloc-bottom-edge
      = render 'pages/social_share_panel', from: 'interviews_list'
  / bloc-16 END
  / bloc-17
  - if @interviews.any?
    #bloc-17.bloc.tc-white.bgc-onyx-2
      .container.bloc-lg
        / - abort @interviews.inspect
        - @interviews.each_slice(3) do |interviews_slices|
          .row
            - interviews_slices.each do |interview|
              = link_to interview_path(interview) do
                .col-sm-4
                  .interview-header
                    = image_tag interview.image_thumbnail.md.url, class: 'img-responsive'
                    .interview-header--label
                      .interview-header--label__name
                        = interview.name
                      - if interview.organization.present?
                        .interview-header--label__organization
                          = interview.organization
                  %h3.mg-md
                    = interview.summary
                  - if interview.proposals.any?
                    = link_to interview_path(interview, anchor: 'anchor-proposals') do
                      .interview-proposals
                        %p.interview-proposals--header
                          .ltc-safety-orange-blaze-orange
                            제안
                          .interview-proposals--contents
                            - interview.proposals.each do |proposal|
                              .interview-proposal
                                = proposal.title


  / bloc-17 END
/ Main container END
