.page-container
  / bloc-9
  #bloc-9.bloc.bgc-safety-orange-blaze-orange.d-bloc{ style: "background-image: url(#{image_url(@interview.image.xl.url)})", class: "#{'bloc-fill-screen' unless browser.device.mobile?}"}
    = render 'application/header'
    .container.fill-bloc-bottom-edge.hidden-xs
      .row.voffset-lg.bgc-onyx
        .col-sm-12
          %h3.mg-md
            #{@interview.name},
            = @interview.organization if @interview.organization.present?
          .interview-summary
            = simple_format @interview.summary if @interview.summary.present?
      .voffset
        = render 'pages/social_share_panel', from: 'interview', interviewee: @interview.name
  / bloc-9 END
  / bloc-10
  #bloc-10.bloc.bgc-white.l-bloc
    .container.bloc-lg
      .row
        .col-sm-12
          .interview-image.visible-xs
            = image_tag @interview.image.md.url
          .interview-message
            = simple_format @interview.message if @interview.message.present?
  / bloc-10 END
  / bloc-11
  - if @interview.proposals.any?
    %a{class: 'anchor', id: 'anchor-proposals'}
    #bloc-11.bloc.bgc-onyx.d-bloc
      .container.bloc-lg
        .row
          - @interview.proposals.each do |proposal|
            .col-sm-6
              .proposal-item[proposal]
                = image_tag proposal.image.lg.url, class: 'img-responsive', width: '100%'
                .js-upvote
                  = render 'upvotes/button', proposal: proposal

  / bloc-11 END
  / bloc-12
  #bloc-12.bloc.bgc-white.l-bloc
    .container.bloc-md
      #disqus_thread
  / bloc-12 END
  / Bloc Group
  .bloc-group
    / bloc-13
    #bloc-13.bloc.bloc-tile-2.bgc-white.l-bloc
      .container.bloc-sm
        .row
          .col-sm-6.col-xs-6
            - if @interview.prev.present?
              %h3.mg-md
                = link_to interview_path(@interview.prev), class: 'tc-safety-orange-blaze-orange' do
                  \&lt; 이전 인터뷰 보기
          .col-sm-6.col-xs-6
            - if @interview.next.present?
              %h3.mg-md.text-right
                = link_to interview_path(@interview.next), class: 'tc-safety-orange-blaze-orange' do
                  다음 인터뷰 보기 &gt;
    / bloc-13 END
  / Bloc Group END
/ Main container END
