.page-container
  / bloc-9
  #bloc-9.bloc.bloc-fill-screen.lake-hero-bloc.bgc-safety-orange-blaze-orange.d-bloc{ style: "background-image: url(#{image_url(@interview.image.lg.url)})"}
    = render 'application/header'
    .container
      .row
        .col-sm-12
    .container.fill-bloc-bottom-edge
      .row.voffset-lg.bgc-onyx
        .col-sm-12
          %h3.mg-md
            #{@interview.name},
            = @interview.organization if @interview.organization.present?
          .interview-summary
            = simple_format @interview.summary if @interview.summary.present?
      .row.voffset
        .col-sm-12.col-md-6.col-md-offset-3
          .col-xs-3
            .text-center
              %a.social{:href => "index.html"}
                %span.fa.fa-twitter.icon-md.icon-safety-orange-blaze-orange
          .col-xs-3
            .text-center
              %a.social{:href => "index.html"}
                %span.fa.fa-facebook.icon-md.icon-safety-orange-blaze-orange
          .col-xs-3
            .text-center
              %a.social{:href => "index.html"}
                %span.fa.fa-dribbble.icon-md.icon-safety-orange-blaze-orange
          .col-xs-3
            .text-center
              %a.social{:href => "index.html"}
                %span.fa.fa-instagram.icon-md.icon-safety-orange-blaze-orange
  / bloc-9 END
  / bloc-10
  #bloc-10.bloc.bgc-white.l-bloc
    .container.bloc-lg
      .row
        .col-sm-12
          .interview-message
            = simple_format @interview.message if @interview.message.present?
  / bloc-10 END
  / bloc-11
  #bloc-11.bloc.bgc-onyx.d-bloc
    .container.bloc-lg
      .row
        .col-sm-6
          = image_tag "placard_test.png", class: 'img-responsive'
          = image_tag "agree_disagree.png", class: 'img-responsive hidden-xs hidden-sm'
        .col-sm-6
          = image_tag "placard_test.png", class: 'img-responsive'
          = image_tag "agree_disagree.png", class: 'img-responsive'
  / bloc-11 END
  / bloc-12
  #bloc-12.bloc.bgc-white.l-bloc
    .container.bloc-lg
      .row
        .col-sm-12
          = image_tag "discuss_capture.png", class: 'img-responsive'
  / bloc-12 END
  / Bloc Group
  .bloc-group
    / bloc-13
    #bloc-13.bloc.bloc-tile-2.bgc-white.l-bloc
      .container.bloc-sm
        .row
          .col-sm-12
            %h3.mg-md.tc-safety-orange-blaze-orange
              \&lt; 이전 인터뷰 보기
    / bloc-13 END
    / bloc-14
    #bloc-14.bloc.bloc-tile-2.bgc-white.l-bloc
      .container.bloc-sm
        .row
          .col-sm-12
            %h3.mg-md.text-right.tc-safety-orange-blaze-orange
              다음 인터뷰 보기 &gt;
    / bloc-14 END
  / Bloc Group END
/ Main container END
