- from ||= nil
- icon_color ||= nil
- share_text_twitter = "#당신은 혁신의 편입니까 혁신가들에게 묻고 전문가들에게 도움받아 새로운 사회시스템을 위한 정책을 만듭니다."
- if from == 'interview'
  - share_text_twitter = "당신은혁신의편입니까 #{interviewee}님의 인터뷰를 들어보세요"
- if from == 'interviews_list'
  - share_text_twitter = "#당신은혁신의편입니까 사회 혁신의 맨 앞이기에 누구보다 먼저 겪는 어려움, 어떻게 해결할 수 있을까요? 혁신가들의 이야기를 들어보세요."
- if from == 'insight'
  - share_text_twitter = "#당신은혁신의편입니까 '#{insight_title}'"
- if from == 'insights_list'
  - share_text_twitter = "#당신은혁신의편입니까 앞장 서서 혁신의 편에 있는 사람들의 이야기에서 발견한 인사이트를 공유합니다."
- if from == 'about'
  - share_text_twitter = "#당신은혁신의편입니까 혁신가들에게 묻고 전문가들에게 도움받아 새로운 사회시스템을 위한 정책 프로젝트를 소개합니다."
- if from == 'conference'
  - share_text_twitter = "#당신은혁신의편입니까 혁신 정책 컨퍼런스에 초대합니다."

.social-share
  - if browser.device.mobile?
    %ul.list-inline.social-icon
      - base_data = {action: 'inno-share', 'share-url': request.original_url, 'share-text': meta_tags['description'], 'share-sitename': meta_tags['og']['site_name'] }
      - %w(facebook twitter kakao-link kakao-story).each do |provider|

        - data = base_data.merge('share-provider': provider)

        - if provider == 'kakao-link'
          - hide_kakao_link = (! browser.device.mobile?) ? ' hide' : ''
          - data = data.merge('share-image': meta_tags['image'], 'share-image-width': '1200', 'share-image-height': '630', 'share-css': "social-icon--kakao #{'icon__white' if icon_color == 'white'} #{'icon__orange' if icon_color == 'orange'}")
        - if provider == 'twitter'
          - data = data.merge('share-text': share_text_twitter, 'share-logo': 'fa fa-twitter', 'share-css': "social-icon--twitter #{'icon__white' if icon_color == 'white'} #{'icon__orange' if icon_color == 'orange'}")
        - if provider == 'facebook'
          - data = data.merge('share-logo': 'fa fa-facebook', 'share-css': "social-icon--facebook #{'icon__white' if icon_color == 'white'} #{'icon__orange' if icon_color == 'orange'}")
        %li.share-item.jssocials{class: "share-#{provider}#{hide_kakao_link}", data: data }
          .jssocials-shares
            - if icon_color == 'white'
              .jssocials-share
                - if provider == 'kakao-story'
                  = image_tag 'social_icon_kas_white.png', class: 'social-icon--kas'
                - if provider == 'kakao-link'
                  = image_tag 'social_icon_kakao_white.png', class: 'social-icon--kakao'
            - elsif icon_color == 'orange'
              .jssocials-share
                - if provider == 'kakao-story'
                  = image_tag 'social_icon_kas_orange.png', class: 'social-icon--kas'
                - if provider == 'kakao-link'
                  = image_tag 'social_icon_kakao_orange.png', class: 'social-icon--kakao'
            - else
              .jssocials-share
                - if provider == 'kakao-story'
                  = image_tag 'social_icon_kas_orange.png', class: 'social-icon--kas'
                - if provider == 'kakao-link'
                  = image_tag 'social_icon_kakao_orange.png', class: 'social-icon--kakao'
  - else
    %ul.list-inline.social-icon
      - base_data = {action: 'inno-share', 'share-url': request.original_url, 'share-text': meta_tags['description'] }
      - %w(twitter facebook kakao-link kakao-story).each do |provider|

        - data = base_data.merge('share-provider': provider)

        - if provider == 'kakao-link'
          - hide_kakao_link = (! browser.device.mobile?) ? ' hide' : ''
          - data = data.merge('share-image': meta_tags['image'], 'share-image-width': '1200', 'share-image-height': '630', 'share-css': "social-icon--kas")
        - if provider == 'twitter'
          - data = data.merge('share-text': share_text_twitter, 'share-logo': 'fa fa-twitter', 'share-css': "social-icon--twitter #{'icon__white' if icon_color == 'white'} #{'icon__orange' if icon_color == 'orange'}")
        - if provider == 'facebook'
          - data = data.merge('share-logo': 'fa fa-facebook', 'share-css': "social-icon--facebook #{'icon__white' if icon_color == 'white'} #{'icon__orange' if icon_color == 'orange'}")
        %li.share-item.jssocials{class: "share-#{provider}#{hide_kakao_link}", data: data }
          .jssocials-shares
            .jssocials-share
              - if provider == 'kakao-story'
                .social-icon--kas{class: "#{'icon__white' if icon_color == 'white'} #{'icon__orange' if icon_color == 'orange'}"}
