.page-container
  / bloc-3
  #bloc-3.bloc.bgc-onyx.d-bloc{style: "background-image: url(#{asset_url('about_background.jpg')});", class: " #{'hide-background-image' if browser.device.mobile?}"}
    = render 'application/header'
    .container
      .row.hidden-sm.hidden-xs.object-hidden
        .col-sm-12
    .container.about-detail-container
      .row.bgc-onyx
        .col-sm-12.about-detail
          .about-detail--content
            .player-wrapper
              .player
                %embed{:allowfullscreen => "true", :height => "405", :src => "http://www.youtube.com/v/lkswzF9jA5w&showsearch=0&fs=1&rel=0&autoplay=0", :type => "application/x-shockwave-flash", :width => "720", :wmode => "window"}
            %h2.mg-md
              소개
            %p
              ‘혁신을 키우는 정책제안 프로젝트: 당신은 혁신의 편입니까?’는 한국사회를 바꿔나갈 새로운 패러다임과 정책 대안을 만드는 프로젝트입니다. 혁신에 앞장서는 사람들로부터 목소리를 모아 뼈대를 세우고 뜻을 함께 하는 사람들이 살을 붙여 만든 정책을 제안합니다.
              %br
              %br
              1970년대에 설계된 한국사회 시스템은 이제 시효를 다해 무너지고 있습니다. 하지만 그 자리를 채울 혁신적 대안이 없다면 그 자리에 또 다른 낡은 시스템이 들어설 수 있습니다. 지금 우리에게는 새로운 경제, 새로운 사회 시스템이 필요합니다.
              %br
              %br

              프로젝트에 참여한 혁신가들은 새로운 변화를 도모하는 일을 업으로 삼아 고민하고 실천하고 있습니다. 이들은 스타트업에서 일하기도 하고, 소셜벤처에서 일하기도 하고, 비영리단체에서 일하기도 하고, 과학기술을 연구하거나 소프트웨어를 개발하기도 합니다. 어디에서 일하든, 무엇을 지향하든, 새로운 방식으로 일하고 새로운 것을 만들어내고자 하는 사람들, 이들이 바로 혁신가들입니다.
              %br
              %br
              이 프로젝트는 새로운 시스템이 어떤 것이 되어야 하는지를 혁신가들에게 묻고, 그 답을 전문가들과 함께 발전시켜 정책으로 만들어냅니다. 또한 그 정책이 실현되도록, 혁신의 편에 선 사람들의 생각과 힘을 모으고자 합니다.
              %br
              %br

              진정한 혁신은 언제나 혁신을 바라는 사람들이 뭉쳐서 힘을 낼 때, 혁신의 반대편에 서있는 사람들을 설득하고 낡은 질서를 밀어낼 때 찾아옵니다. 다가오는 변화의 시기에 더 많은 사람들이 불안과 갈등을 넘어 혁신에 편에 서서 변화를 도모하도록 하는 것이 이 프로젝트의 궁극적 목표입니다.
              %br
              %br

              당신은 혁신의 편입니까?
              %br
              %br
          .about-detail--content
            %h2.mg-md
              프로젝트 진행과정
            %p
              '혁신가들이 그리는 대한민국'은 프로젝트를 통해 혁신에 대해 발언하고 공감한 모든 혁신가들이 이끕니다.
              %br
              정책과 법률 분야의 자문단들이 전문성을 발휘해 혁신가들의 생각을 구체적인 정책으로 만듭니다.
              %br
              연구팀이 이들의 이야기를 모아 한국사회 변화 전략을 제시합니다.
              %p.indent
                \- 혁신가 인터뷰
                %br
                \- 워크숍을 통한 의견수렴
                %br
                \- 온라인 플랫폼을 통한 의견수렴
                %br
                \- 정책제안 발표 및 캠페인
                %br
                \- 정부 정책, 정당 정책, 선거 공약, 헌법과 법률 개정안 등에 반영
              .about-process-image-wrapper
                - if browser.device.mobile?
                  = image_tag 'about_process_mobile.png', class: 'about-process-image'
                - else
                  = image_tag 'about_process_web.png', class: 'about-process-image'

      .voffset
        = render 'pages/social_share_panel', from: 'about'


  / bloc-3 END

  / bloc-4
  #bloc-4.bloc.bgc-black.d-bloc{:class => "bg-gradation-background"}
    .container.bloc-md.maker-container
      .row
        .col-sm-3.col-xs-12
          %h3.mg-md
            참여자
          %p
            김동찬 (만인의 꿈)
            %br
            민동세 (도우누리)
            %br
            변형석 (트래블러스맵)
            %br
            이의헌 (점프)
            %br
            이지혜 (오요리 아시아)
            %br
            김성준 (렌딧)
            %br
            박병종 (콜버스)
            %br
            양준철 (온오프믹스)
            %br
            황승익 (한국 NFC)
            %br
            양경준 (케이파트너스&글로벌)
            %br
            명승은 (벤처스퀘어)
            %br
            이태훈 (서울산업진흥원)
            %br
            장영화 (오이씨)
            %br
            엄윤미 (씨프로그램)
            %br
            이혜영 (아쇼카한국)
            %br
            한상엽 (sopoong)
            %br
            정상훈 (더함)
        .col-sm-3.col-xs-12
          %h3.mg-md
            연구팀
          %p
            이원재 (여시재)
            %br
            임주환 (변호사)
            %br
            손우정 (바꿈)
            %br
            김산 (오늘공작소)
            %br
            전일주 (유자살롱(전))
            %br
            권오현 (빠띠)
            %br
            박은지 (빠띠)
            %br
            변형석 (트래블러스맵)
            %br
            김병권 (사회혁신공간 there)
            %br
            장수정 (사회혁신공간 there)
            %br
            이승원 (시사칼럼니스트)
        .col-sm-3.col-xs-12
          %h3.mg-md
            정책자문단
          %p
            (구성 중)

        .col-sm-3.col-xs-12
          %h3.mg-md
            법률자문단
          %p
            (구성 중)

/ Main container END
