.page-container
  / bloc-0
  #bloc-0.bloc.bloc-fill-screen.lake-hero-bloc.d-bloc
    = render 'application/header'
    #video-background
  / bloc-0 END
  / bloc-1
  #bloc-1.bloc.tc-white.bgc-onyx
    .container.bloc-lg
      .row
        .col-sm-6
          %h2.mg-md
            혁신가들에게 묻고
            %br
            전문가들에게 도움받아
            %br
            새로운 사회시스템을 위한
            %br
            정책을 만듭니다.
          = link_to '프로젝트 소개', about_path, class: 'btn btn-lg btn-sq btn-wire wire-btn-safety-orange-blaze-orange hidden-xs'

        .col-sm-6
          %p.intro-detail
            변화에 대한 요구가 커지고 있는 이 때, 무너져가는 낡은 사회의 자리를 대신할 새로운 시스템을 혁신가들과 함께 고민합니다. 혁신가들의 목소리를 모아 뼈대를 세우고 뜻을 함께 하는 사람들이 살을 붙여 만든 정책을 제안합니다. 또한 이 정책이 실현되도록, 혁신의 편에 선 사람들의 힘을 모아내는 작업을 이어가려고 합니다. 이를 통해 더 많은 사람들이 불안과 갈등을 넘어 변화를 실천해나갈 수 있을 것입니다.
            %br
            %br
            혁신을 이루기 위해서는 더 많은 혁신의 편이 필요합니다.
            %br
            당신은 혁신의 편입니까?
        .mobile-button-wrapper.visible-xs
          = link_to '프로젝트 소개', about_path, class: 'btn btn-lg btn-sq btn-wire wire-btn-safety-orange-blaze-orange '


  / bloc-2
  #bloc-2.bloc.bgc-safety-orange-blaze-orange.d-bloc{:class => "bg-gradation-background"}
    .container.bloc-lg
      .row.object-hidden
        .col-sm-6
          %h3.mg-md
            %span.tc-safety-orange-blaze-orange 인사이트
            %br

            %br
            앞장 서서 혁신의 편에 있는
            %br
            사람들의 이야기에서 발견한
            %br
            인사이트를 공유합니다.
            %br

          = link_to '인사이트 보고 의견 남기기', insights_path, class: 'btn btn-lg btn-wire btn-sq wire-btn-safety-orange-blaze-orange hidden-xs'
        .col-sm-6
          .insight-item
            %p

              %br

              %br

              %br
              %u 사회적기업 FGI
              &nbsp; &nbsp;&nbsp;
              %br

              %br
              OFA is committed to mobilizing and training
              %br
              the next generation of progressive organizers and leaders,
              %br
              because real, lasting change doesn&rsquo;t just happen on its own—
              %br
              it requires a program, it requires organizing,
              %br
              and it requires people like you.
              %br

              %br
              With grassroots chapters in neighborhoods across the country,
              %br
              OFA volunteers are building this movement from the ground up,
              %br
              person to person, community by community—
              %br
              because democracy isn&rsquo;t a spectator sport.&nbsp;
              %br
        .mobile-button-wrapper.visible-xs
          = link_to '인사이트 보고 의견 남기기', insights_path, class: 'btn btn-lg btn-wire btn-sq wire-btn-safety-orange-blaze-orange'

  / bloc-2 END

  / ScrollToTop Button
  %a.bloc-button.btn.btn-d.scrollToTop{:onclick => "scrollToTarget('1')"}
    %span.fa.fa-chevron-up
  / ScrollToTop Button END
  / Footer - bloc-19
  #bloc-19.bloc.tc-white.bgc-onyx
    .container.bloc-lg
      .row
        .col-sm-6
          .interview-list-intro
            %h2.mg-md.device-bloc-text.tc-safety-orange-blaze-orange
              인터뷰
            %p.mg-lg.device-bloc-text-p
              사회 혁신의 맨 앞이기에
              %br
              누구보다 먼저 겪는 어려움.
              %br
              어떻게 해결할 수 있을까요?
              %br
            .button-wrapper
              = link_to '6명의 인터뷰 더 보기', interviews_path, class: 'btn btn-wire btn-lg device-bloc-button btn-sq wire-btn-safety-orange-blaze-orange'

        .col-sm-6
          = image_tag "interview_landit_thumb.png", class: 'img-responsive'
          %h3.tc-white.mg-sm
            " 신융합 산업은 기존의 규제 방식을 그대로 고수해서는 절대로 수용될 수 없습니다.
            %br
            새로 태어난 영역이기 때문에 본질적으로 기존 산업들과 많은 차이점을 갖고 있기 때문입니다. "
            %br/
            %br
            = link_to interview_path(Interview.first) do
              %u 김성준님의 제안 더보기
/ Footer - bloc-19 END

/ Main container END
