= form_for [:admin, @insight] do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :image
    = f.hidden_field :image_cache, value: f.object.image_cache
    = f.file_field :image, class: 'form-control'
    - if upload_file_exists?(f.object.image)
      = image_tag f.object.image.xs.url
  .form-group
    = f.label :image_thumbnail
    = f.hidden_field :image_cache, value: f.object.image_cache
    = f.file_field :image_thumbnail, class: 'form-control'
    - if upload_file_exists?(f.object.image_thumbnail)
      = image_tag f.object.image_thumbnail.xs.url
  .form-group
    = f.label :summary
    ~ f.text_area :summary, class: 'form-control'
  .form-group
    = f.label :body
    ~ f.text_area :body, class: 'form-control redactor'

  = f.submit '저장', data: { disable_with: "진행 중..." }, class: 'btn btn-sm btn-primary'
  - if @insight.persisted?
    = link_to '삭제', [:admin, @insight], method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: "정말 삭제하시겠습니까?" }
