- if @insight.present?
  .page-container
    / bloc-6
    #bloc-6.bloc.bgc-blue-pigment.d-bloc{:class => "bg-gradation-background #{'bloc-fill-screen' unless browser.device.mobile?} "}
      = render 'application/header'
      .container
        .row
          .col-sm-12
            .insight-item
              %h3.mg-md
                = @insight.title
              .insight-body
                = simple_format @insight.body
      .container.fill-bloc-bottom-edge
        = render 'pages/social_share_panel', from: 'insights_list', icon_color: 'white'
    / bloc-6 END
    / bloc-7
    #bloc-7.bloc.bgc-white.l-bloc
      .container.bloc-md
        #disqus_thread



