- if @insight.present?
  .page-container
    / bloc-6
    #bloc-6.bloc.bgc-blue-pigment.d-bloc.bg-gradation-background
      = render 'application/header'
      .container
        .insight-item-container
          = image_tag @insight.image.xl.url, class: 'insight-image'
          .row
            .col-sm-12
              .insight-item
                %h1.mg-md.insight-title
                  = @insight.title
                .insight-body
                  = simple_format @insight.body
      .container.fill-bloc-bottom-edge
        = render 'pages/social_share_panel', from: 'insight', icon_color: 'white', insight_title: @insight.title
    / bloc-6 END
    / bloc-7
    #bloc-7.bloc.bgc-white.l-bloc
      .container.bloc-md
        #disqus_thread



