.container.application-header{class: "#{'turn_abosolute' if current_page?(controller: '/pages', action: :home)}"}
  %nav.navbar.row
    .navbar-header
      = link_to '당신은 혁신의 편입니까?', root_path, class: "navbar-brand #{'hidden-xs' if current_page?(controller: '/pages', action: :home)}"
      %button#nav-toggle.ui-navbar-toggle.navbar-toggle{"data-target" => ".navbar-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse.navbar-1.special-dropdown-nav
      %ul.site-navigation.nav.navbar-nav.pull-right
        %li
          = link_to '홈', root_path, class: ('active' if current_page?(controller: '/pages', action: :home))
        %li
          = link_to '소개', about_path, class: ('active' if current_page?(controller: '/pages', action: :about))
        %li
          = link_to '인사이트', insights_path, class: ('active' if params[:controller] == 'insights')
        %li
          = link_to '정책 설문', survey_path, class: ('active' if current_page?(controller: '/pages', action: :survey))
        / %li
        /   = link_to '컨퍼런스 참가신청', conference_path, class: ('active' if current_page?(controller: '/pages', action: :conference))
        %li
          = link_to '컨퍼런스 / 정책자료집', conference_path, class: ('active' if current_page?(controller: '/pages', action: :conference))
        %li
          = link_to '인터뷰', interviews_path, class: ('active' if params[:controller] == 'interviews')
